doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="img/logo.png", type="image/png")
        link(rel="stylesheet", href="style.css")
        title Pseudo elementos
    body 
        mixin galeria(link)
            div
                img(src=""+link)

        +galeria("img/black.jpeg")
        +galeria("img/black.jpeg")
        +galeria("img/black.jpeg")
        +galeria("img/black.jpeg")
        +galeria("img/black.jpeg")
        +galeria("img/black.jpeg")
        +galeria("img/black.jpeg")
        +galeria("https://th.bing.com/th/id/Rf467c9d7ee880f06b0970519306542d1?rik=MVa98g4n7H%2bprQ&pid=ImgRaw")
        
        +galeria("img/black.jpeg")
        +galeria("img/black.jpeg")
        